<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBooks</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="bg-light">

    <div class="container">
        <br />
        <header class="text-center">
            <h1 class="display-1 text-dark">Online Books</h1>
            <vc:navigation-menu />      <!--Category menu inserted here using a view component-->
        </header>

        @RenderBody()

        <div page-model="Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
             class="btn-group pull-right m-1 text-center text-dark">
        </div>
    </div>


</body>
</html>
