<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBooks</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="bg-secondary">

    <div class="container">
        <br />
        <header class="text-center">
            <h1 class="display-1 text-white-50">Online Books</h1>
        </header>

        @RenderBody()

    </div>

</body>
</html>
