@model IEnumerable<string>

<a class="btn btn-block btn-outline-secondary text-dark" asp-action="Index" asp-controller="Home"
   asp-route-category="">
    Home
</a>

@foreach (string category in Model)     //build partial view to dynamically display list of categories
{
    <a class="btn btn-block text-dark @(category == ViewBag.SelectedType ? "btn-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}